<div class="row justify-content-start">
    <div class="col-3">
        <button class="btn btn-outline-success" type="button" id="copy_timesheet">Update Timesheet For ERP Sync</button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#filter_modal">Apply Filter</button>
    </div>
    <div class="col-2">
        <button class="btn btn-outline-success " type="button" id="download_table">Download Table</button>
    </div>
    <div class="col-2">
        <button class="btn btn-outline-success " type="button" id="download_exception">Download Exception</button>
    </div>
</div>

<div id="loading-indicator">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="mt-2" id="pendingErpTable"></div>
<div class="mt-2" id="temppendingErpTable" hidden></div>
<div class="mt-2" id="tempExceptionTable" hidden></div>

<input type="text" value="{{session.user.EmployeeId}}" id="employeeId" hidden>
<input type="text" value="{{session.user.Department}}" id="department" hidden>

<!-- Modal -->
<div class="modal fade " id="filter_modal" tabindex="-1" aria-labelledby="filter_modal_label" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filter_modal_label">Filter ERP Timesheet Result</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <form class=" my-2 my-lg-0 ">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control mr-sm-2" id="emp_id" placeholder="Emp ID">
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control datepicker" id="from_date" placeholder="From">
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control datepicker" id="to_date" placeholder="To">
                    </div>
                    <div class="col-md-3 mb-3">
                        <input type="text" class="form-control mr-sm-2" id="job_code" placeholder="Job Code">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <select class="form-select" id="department_id" name="Department">
                            <option selected value="">Select Department</option>
                            {{#each Department}}
                            <option value="{{this.DPTID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <select class="form-select" id="user_category" name="StaffCategory">
                            <option selected value="">Select Staff Type</option>
                            {{#each UserCategory}}
                            <option value="{{this.CG1ID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <select class="form-select" id="employee_category" name="Category">
                            <option selected value="">Select Category</option>
                            {{#each Category}}
                            <option value="{{this.CTGID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <select class="form-select" id="designation_id" name="Category">
                            <option selected value="">Select Designation</option>
                            {{#each Designation}}
                            <option value="{{this.DSGID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <select class="form-select" id="section_id" name="Section">
                            <option selected value="">Select Section</option>
                            {{#each Section}}
                            <option value="{{this.SECID}}">{{this.Name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                         <select class="form-select" id="error" name="Error">
                            <option selected value="">All Transaction</option>
                            <option value="0">Transaction Without Error</option>
                            <option value="1">Transaction With Error</option>
                        </select>
                    </div>
                </div>
            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close_modal" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="search_submit" data-bs-dismiss="modal">Apply Filter</button>
      </div>
    </div>
  </div>
</div>


<script>
    $(document).ready(async function (){
        let pendingErpTable = new Tabulator("#pendingErpTable", {
            pagination:true, //enable pagination
            paginationMode:"remote", //enable remote pagination
            ajaxURL:"/api/erp-transaction/pending-data", //ajax URL
            ajaxParams: function(){
                let EmployeeId = $("#emp_id").val()
                let FromDate=$("#from_date").val()?$("#from_date").val()+" 00:00:00.000":''
                let ToDate=$("#to_date").val()?$("#to_date").val()+" 00:00:00.000":''
                let JobCode=$('#job_code').val()
                let DepartmentId=$('#department_id').val()
                let UserCategoryId=$('#user_category').val()
                let EmployeeCategoryId=$('#employee_category').val()
                let DesignationId=$('#designation_id').val()
                let SectionId=$('#section_id').val()
                let Error = $("#error").val()
                return {EmployeeId,FromDate,ToDate,JobCode,DepartmentId,UserCategoryId,EmployeeCategoryId,DesignationId,SectionId,Error};
            },
            paginationSize:31, //optional parameter to request a certain number of rows per page
            paginationInitialPage:1,
            paginationSizeSelector:[10, 25, 30,31, 50, 100, 500, 1000, 5000],
            columns:[
                {title:"Sl#", field:"example", formatter:"rownum"},
                {title:"Employee ID", field:"HcmWorker_PersonnelNumber"},
                {title:"Attendance Date", field:"TransDate",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
                {title:"Job Code", field:"projId", hozAlign:"center"},
                {title:"Total Hours", field:"TotalHours"},
                {title:"Sync Completed", field:"SyncCompleted"},
                {title:"Error Status", field:"Error"},
                {title:"Error Text", field:"ErrorText"},
                {title:"Branch ID", field:"BranchId"},
                {title:"Department ID", field:"DepartmentName"},
                {title:"User Category", field:"UserCategoryName"},
                {title:"Category", field:"EmployeeCategoryName"},
                {title:"Designation", field:"DesignationName"},
                {title:"Section", field:"SectionName"},
                {title:"Created At", field:"CreatedAt",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
                {title:"Updated At", field:"UpdatedAt",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
            ],
        });

        let temppendingErpTable = new Tabulator("#temppendingErpTable", {
            columns:[
                {title:"Employee ID", field:"HcmWorker_PersonnelNumber"},
                {title:"Attendance Date", field:"TransDate",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
                {title:"Job Code", field:"projId", hozAlign:"center"},
                {title:"Total Hours", field:"TotalHours"},
                {title:"Sync Completed", field:"SyncCompleted"},
                {title:"Error Status", field:"Error"},
                {title:"Error Text", field:"ErrorText"},
                {title:"Branch ID", field:"BranchId"},
                {title:"Department ID", field:"DepartmentName"},
                {title:"User Category", field:"UserCategoryName"},
                {title:"Category", field:"EmployeeCategoryName"},
                {title:"Designation", field:"DesignationName"},
                {title:"Section", field:"SectionName"},
                {title:"Created At", field:"CreatedAt",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
                {title:"Updated At", field:"UpdatedAt",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
            ],
        });

        $("#search_submit").click(function(e){
            e.preventDefault();
            let EmployeeId = $("#emp_id").val();
            let FromDate=$("#from_date").val()?$("#from_date").val()+" 00:00:00.000":''
            let ToDate=$("#to_date").val()?$("#to_date").val()+" 00:00:00.000":''
            let JobCode=$('#job_code').val()
            let DepartmentId=$('#department_id').val()
            let UserCategoryId=$('#user_category').val()
            let EmployeeCategoryId=$('#employee_category').val()
            let DesignationId=$('#designation_id').val()
            let SectionId=$('#section_id').val()
            let Error = $("#error").val()
            pendingErpTable.setData("/api/erp-transaction/pending-data", 
                {page:"1", pageSize:"31",EmployeeId:EmployeeId,FromDate,ToDate,JobCode,DepartmentId,UserCategoryId,EmployeeCategoryId,DesignationId,SectionId, Error}
            );
        });

        $("#copy_timesheet").click(async(e)=>{
            showLoadingIndicator();
            let DepartmentId=$('#department').val()
            let url=`/api/erp-transaction/copy-timesheet?DepartmentId=${DepartmentId}`;
            let response = await fetch(url);
            let data = await response.json();
            if(data){
                hideLoadingIndicator();
            }
            if(data.status == "not ok"){
                alert(data.error);
                location.reload(true);
            }else{
                alert(`Added or Updated ${data.data[0],data.data[1]} records to ERP`);
                location.reload(true);
            }
        })
        $("#download_table").click(function(e){
            e.preventDefault();
            let EmployeeId = $("#emp_id").val()
            let FromDate=$("#from_date").val()?$("#from_date").val()+" 00:00:00.000":''
            let ToDate=$("#to_date").val()?$("#to_date").val()+" 00:00:00.000":''
            let JobCode=$('#job_code').val()
            let DepartmentId=$('#department_id').val()
            let UserCategoryId=$('#user_category').val()
            let EmployeeCategoryId=$('#employee_category').val()
            let DesignationId=$('#designation_id').val()
            let SectionId=$('#section_id').val()
            let Error = $("#error").val()
            $.ajax({
                url: '/api/erp-transaction/download-erptimesheet',
                data:{EmployeeId,FromDate,ToDate,JobCode,DepartmentId,UserCategoryId,EmployeeCategoryId,DesignationId,SectionId,Error}
            }).done(function (data) {
                if(data.status =="ok"){
                    temppendingErpTable.setData(data.data);
                    temppendingErpTable.download("csv", "erptimesheet.csv", {delimiter:","})
                }else{
                    alert("Failed to download")
                }
                
            });
        });
        flatpickr("#from_date", {dateFormat: "Y-m-d"});
        flatpickr("#to_date", {dateFormat: "Y-m-d"});

        $('#close_modal').click(()=>{
            $("#emp_id").val('');
            $("#from_date").val('');
            $("#to_date").val('');
            $('#job_code').val('')
            $("#upload_date").val('')
            $('#department_id').val('');
            $('#user_category').val('')
            $('#employee_category').val('')
            $('#designation_id').val('')
            $('#section_id').val('')
            $("#search_submit").click()
        })
        
        let tempExceptionTable = new Tabulator("#tempExceptionTable", {
            columns:[
                {title:"Employee ID", field:"HcmWorker_PersonnelNumber"},
                {title:"Attendance Date", field:"TransDate",hozAlign:"center",mutatorData:function(value, data){
                    return value.split("T")[0];
                },},
                {title:"Job Code", field:"projId", hozAlign:"center"},
                {title:"Total Hours", field:"TotalHours"},
                {title:"Department", field:"DepartmentName"},
                {title:"User Category", field:"UserCategoryName"},
                {title:"Category", field:"EmployeeCategoryName"},
                {title:"Designation", field:"DesignationName"},
                {title:"Section", field:"SectionName"},
            ],
        });

         $("#download_exception").click(function(e){
            e.preventDefault();
            let EmployeeId = $("#emp_id").val()
            let FromDate=$("#from_date").val()?$("#from_date").val()+" 00:00:00.000":''
            let ToDate=$("#to_date").val()?$("#to_date").val()+" 00:00:00.000":''
            let JobCode=$('#job_code').val()
            let DepartmentId=$('#department_id').val()
            let UserCategoryId=$('#user_category').val()
            let EmployeeCategoryId=$('#employee_category').val()
            let DesignationId=$('#designation_id').val()
            let SectionId=$('#section_id').val()
            $.ajax({
                url: '/api/erp-transaction/download-exception',
                data:{EmployeeId,FromDate,ToDate,JobCode,DepartmentId,UserCategoryId,EmployeeCategoryId,DesignationId,SectionId}
            }).done(function (data) {
                if(data.status =="ok"){
                    tempExceptionTable.setData(data.data);
                    tempExceptionTable.download("csv", "ExceptionDetails.csv", {delimiter:","})
                }else{
                    alert("Failed to download")
                }
                
            });
        });
        

    })
    
</script>